app.css*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .container{
    width: 1530px;
    margin: 0 auto;
  }
  .bg-foto img {
    width: 1770px;
    height: 400px;
    object-fit: cover;
    /* margin: 0 auto; */
  }
  .bg-goto {
    width: 100%;
    margin: 0 auto;
  }
  .bg-foto {
    display: flex;
    align-items: center;
    justify-content: center;
  }